<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">搞事网</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <div class="navbar-form navbar-left">
                  <%= render :partial => "jobs/search_bar" %>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <% if !current_user %>
                  <li><%= link_to new_user_registration_path do%><span class="glyphicon glyphicon-user"></span> 注册<% end %></li>
                  <li><%= link_to new_user_session_path do%><span class="glyphicon glyphicon-log-in"></span> 登入<% end %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                      <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                        <li><%= link_to admin_jobs_path do%><span class="fa fa-check-square-o"></span> Admin Panel<% end %></li>
                        <% end %>
                        <li><%= link_to destroy_user_session_path,method: :delete do%><span class="glyphicon glyphicon-log-out"></span> 登出<% end %></li>
                      </ul>
                  </li>
                <% end %>
                </li>
              </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
